#wrapper{
    margin: 0 auto;
    outline: 1px solid #787274;
    padding: 10px;
    width: 900px;

}
#header{
    background-color: #25B33f;
    background-image: url(images.png);
    height: 200px;
    margin-bottom: 10px;
    width: 900px;
}
#sidebar{
    background-color: #2FF553;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
    width: 180px;
}
#content{
    background-color: #9EF5AF;
    margin-bottom: 10px;
    padding: 10px;
    width: 670px;
}
#footer{
    background-color: #41874E;
    height:80px;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
h1{
    color: #ffee00;
    font: 40px Georgia;
    margin-left: 300px;
}
h3{
    color: #ffee00;
    font-style: italic;
    margin: 70px 0 0 30px;
    width: 200px;
}
#footer{
    background-color: #fe0;
    text-align: center;
}
